.messages-content {
	text-align: center;
	padding-top: 30px;
	margin-bottom: 60px;
}
.messages-content img {
	margin: 0 auto;
	margin-bottom: 30px;
}
.messages-content  h2 {
	font-size: 36px;
	font-weight: 200;
	padding-bottom: 20px;
}
.messages-content .mess-btn {
	margin-top: 40px;
}
.messages-content .message-next {
	font-size: 18px;
	padding: 20px 30px;
	background: #0C7ACF;
	color: #fff;
	border-radius: 30px;
	font-weight: 400;
	cursor: pointer;
}