@import url('https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,700,900');

@import url('https://fonts.googleapis.com/css?family=Cabin|Cairo|Exo|Indie+Flower|Lato|Lora|Nunito|Open+Sans|Playfair+Display|Quicksand|Rozha+One');

body,
body * {
	font-family: 'Work Sans', sans-serif;
	font-size: 16px;
	line-height: 1.4;
	margin: 0;
	color: #6A6161;
}

body {
	background-color: #FCFDFD;
}

header {
	background: #fff;
	padding-top: 5px;
	padding-bottom: 5px;
	box-shadow: 0 7px 17px 0 rgba(235, 233, 233, 0.50);
}

header .ui.secondary.pointing.menu {
	border: none;
	padding: 1rem 3rem;
	align-items: center;
}

.ui.secondary.pointing.menu .item {
	font-weight: 300;
	text-transform: uppercase;
}

.ui.secondary.pointing.menu .active.item {
	color: #0C7ACF;
	border: none;
	font-weight: 700;
}

.d-user {
	font-weight: 500;
	display: flex;
	align-items: center;
}

.user-shortcut {
	display: inline-block;
	border-radius: 50%;
	background: #D8D8D8;
	padding: 10px;
	font-weight: 700;
	color: white;
	margin-left: 10px;
}

.user-shortcut p {
	color: white;
}

.done-btn {
	padding-right: 60px;
}

.btn {
	padding: 10px 80px;
	border-radius: 5px;
	text-transform: uppercase;
	color: #0C7ACF;
	display: inline-block;
}

.btn.blue {
	background-color: #0C7ACF;
	color: #fff;
}

/*----------resume----------*/

.resume-body .resume-settings {
	padding: 20px;

}

.resume-body .resume-settings h2 {
	font-size: 26px;
	padding-bottom: 20px;
	font-weight: 400;
}

.resume-body .resume-settings .customer-design {
	width: 290px;
	margin: 0 auto;
}

.resume-body .resume-settings .change-fonts {
	margin-top: 20px;
}

.resume-body .resume-settings .change-fonts h3 {
	font-size: 18px;
	font-weight: 300;
	padding-bottom: 20px;
}

.resume-body .resume-settings .add-sect {
	width: 250px;
	height: 60px;
	border: 1px solid #0C7ACF;
	border-radius: 10px;
	padding: 20px;
	text-transform: uppercase;
	text-align: center;
	cursor: pointer;

	margin-top: 10px;
}

.resume-body .resume-settings .add-sect.new a {
	color: #0C7ACF;
}

.resume-body .resume-settings .add-sect.download {
	background: #FE7B04;
	border: none;
}

.resume-body .resume-settings .add-sect.download a {
	color: #fff;
}

.ui.new_section.modal {
	top: 40%;
	left: 50%;

}

.ui.new_section.modal .header.title {
	padding: 20px;
	background: #0C7ACF;

}

.ui.new_section.modal .header h2 {
	font-size: 30px;
	color: #fff;
	font-weight: 400;
}

/**

Resume Editor

*/

.resume-body .resume-editor {
	height: 1440px;
	background-color: #fff;
	box-shadow: 0 7px 17px 0 rgba(235, 233, 233, 0.50);
	border-radius: 10px;
	margin-top: 20px;
}

.left-description {
	display: flex;
}

.tab-container {
	padding: 10px;
}

.left-description .ui.vertical.tabular.menu {
	border: none;
	background: #f5f5f5;
	padding: 10px;
	margin-bottom: 0;
}

.left-description .ui.vertical.tabular.menu .tab-menu .item img {
	float: left;
	margin-right: 15px;
}

.ui.vertical.tabular.menu .item {
	border: none;
	box-shadow: none;
	padding-bottom: 20px;
}

.ui.vertical.tabular.menu .active.item {
	background: transparent;
	color: rgba(0, 0, 0, .95);
	border-color: #d4d4d5;
	margin: 0 -1px 0 0;
	border-radius: .28571429rem 0 0 .28571429rem!important;
}

.tab-container .ui.tab {
	width: 700px;
}

.tab-container .ui.form {
	padding: 20px 20px 5px 20px;
}

.tab-container .ui.form h4 {
	font-size: 26px;
	padding-bottom: 10px;
}

.tab-container .ui.form input {
	background: #d6d6d61c;
}

.tab-container .add-btn {
	padding: 20px;
}

.tab-container .add-btn .add-to-resume {
	padding: 15px;
	border-radius: 5px;
	color: #fff;
	background: #0C7ACF;
	cursor: pointer;
}

.tab-container .tipps {
	background: #0C7ACF;
	color: #fff;
	padding: 15px;
	border-radius: 5px;
	border-left: 5px solid #FE7B04;
	font-weight: 300;
}
.tab-container .ui.toggle.checkbox {
	float: right;
	margin-top: 15px;
}

/* Color Selector start here */

.color_picker_dialog p {
	-webkit-user-select: none;
	pointer-events: none;
}

.color_picker_dialog {
	display: inline-block;
	border-radius: 4px;
	position: relative;
	padding: 20px;
	box-sizing: border-box;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	color: white;
	background: transparent;

}

.hue_bar {
	background: -webkit-linear-gradient(top, #ff0000 0%, #ffff00 17%, #00ff00 33%, #00ffff 50%, #0000ff 67%, #ff00ff 83%, #ff0000 100%);
	background: linear-gradient(to bottom, #ff0000 0%, #ffff00 17%, #00ff00 33%, #00ffff 50%, #0000ff 67%, #ff00ff 83%, #ff0000 100%);
	width: 14px;
	height: 200px;
	position: relative;
	display: inline-block;
	cursor: pointer;
}

.hue_bar .hue_picker {
	position: absolute;
	left: 50%;
	border-radius: 50%;
	top: 0;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	height: 14px;
	width: 14px;
	border: 2px solid white;
	/*pointer-events: none;*/
	cursor: pointer;
	box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, .3);
	background: hsl(0, 100%, 50%);
}

.hue_bar .hue_picker.active {
	width: 18px;
	height: 18px;
}

.sat_rect {
	width: 200px;
	height: 200px;
	display: inline-block;
	margin-left: 8px;
	background: hsl(0, 100%, 50%);
	position: relative;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border-radius: 100%;
}

.sat_rect .sat_picker {
	position: absolute;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 12px;
	height: 12px;
	top: 0;
	left: 100%;
	border-radius: 50%;
	border: 2px solid white;
	z-index: 10;
	-webkit-transition: width .25s, height .25s;
	transition: width .25s, height .25s;
	background: hsl(207, 88%, 43%);
	box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, .3);
}

.sat_rect .sat_picker.active {
	width: 16px;
	height: 16px;
}

.sat_rect .black,
.sat_rect .white {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.sat_rect .white {
	background: -webkit-linear-gradient(left, #fff, rgba(204, 154, 129, 0));
	background: linear-gradient(to right, #fff, rgba(204, 154, 129, 0));
	border-radius: 10px;
}

.sat_rect .black {
	background: -webkit-linear-gradient(bottom, #000, rgba(204, 154, 129, 0));
	background: linear-gradient(to top, #000, rgba(204, 154, 129, 0));
	border-radius: 10px;
}

.bottom {
	display: flex;
	align-items: center;
	margin-top: 30px;
}

.color_preview {
	display: block;
	width: 30px;
	height: 30px;
	border-radius: 100%;
	background: hsl(0, 100%, 50%);
	display: inline-block;
}

.bottom input {
	margin-left: 10px;
	height: 28px;
	font-size: 20px;
	outline: none !important;
	width: 100px;
	border-radius: 2px;
	border: 0;
	padding: 0 4px;
}

.bottom img {
	margin-left: 10px;
	height: 30px;
}

/* Color Selector end here */

.resume-body .resume-settings .selector {
	margin-top: 30px;
}

.resume-body .resume-alignment .ui.vertical.icon.menu {
	float: right;
	margin-top: 20px;
}

.resume-body .resume-settings .item.open-sans {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}

.resume-body .resume-settings .item.lato {
	font-family: 'Lato', sans-serif;
	font-size: 14px;
}

.resume-body .resume-settings .item.rozha {
	font-family: 'Rozha One', serif;
	font-size: 14px;
}

.resume-body .resume-settings .item.lora {
	font-family: 'Lora', serif;
	font-size: 14px;
}

.resume-body .resume-settings .item.playfair {
	font-family: 'Playfair Display', serif;
	font-size: 14px;
}

.resume-body .resume-settings .item.nunito {
	font-family: 'Nunito', sans-serif;
	font-size: 14px;
}

.resume-body .resume-settings .item.indie {
	font-family: 'Indie Flower', cursive;
	font-size: 14px;
}

.resume-body .resume-settings .item.cabin {
	font-family: 'Cabin', sans-serif;
	font-size: 14px;
}

.resume-body .resume-settings .item.quick {
	font-family: 'Quicksand', sans-serif;
	font-size: 14px;
}

.resume-body .resume-settings .item.exo {
	font-family: 'Exo', sans-serif;
	font-size: 14px;
}

.resume-body .resume-settings .item.cairo {
	font-family: 'Cairo', sans-serif;
	font-size: 14px;
}

/*------------------------*/
